<div class="cart-box-container">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title"><strong>{{'Calculate'|trans}}</strong></h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="box box-default">
                        <div class="row">
                            <div class="col-md-6">
                                <div id="divfind">
                                    <span id="print"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div id="divfind">
                                    <span id="process"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="form-group Gbutton">
                <button type="button" class="btn btn-danger btn-flat button-block" data-toggle="modal" data-target="#alertStop" id="parent_met">{{'Stop'|trans}}</button>
            </div>
        </div>
    </div>
</div>
